.text-brown {
    color: #aa8865;
}

.text-form-brown {
    color: #6C3D0D;
}

.btn-1 {
    background-color: #aa8865;
    color: #fff8f2;
    border-radius: 10px;
}

.btn-1:hover {
    background-color: #886c50;
    color: #fff8f2;
    border-radius: 10px;
}

.btn-2 {
    background-color: #fff8f2;
    border-color: #aa8865;
    color: #aa8865;
    border-radius: 10px;
}

.btn-2:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    background-color: #fff8f2;
    border-color: #886c50;
    color: #886c50;
    border-radius: 10px;
}

.bg-brown, .bg-footer {
    background-color: #aa8865;
}

.bg-cream {
    background-color: #fff8f2;
}

.bg-brown:hover {
    background-color: #886c50;
}

.active {
    color: #aa8865 !important;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-10 {
    border-radius: 10px;
}

.card-brown {
    background-color: #fff8f2;
}

.form-brown {
    border-color: #886c50;
}
